.taskWrapp{
    padding: 10px;
    display: flex;
   justify-content: center;
    color: #fff;
    align-items: center;
    height: 20px;;
}

.taskText p{
    margin: 0 10px;
}
.hash{
    color: #D39904;
    
}
.edit{
    margin-left: 10px;
height: 16px;
}
.del{
    margin-left: 10px;
    height: 16px;
}