body {
    background-color: black;
}

.title {
    display: flex;
    justify-content: center;
    color: #fff;
}

.wrapper {
    display: flex;
    justify-content: center;

}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
width: 30%;
}

.input {
    align-items: center;
}

.submit {
    background-color: #737272;
    color: #000;
    margin-left: 10px;
    padding: 3px;
    font-size: 12px;
    cursor: pointer;
}

input {
    background-color: #959595;
}

input::placeholder {
    color: #000;
}